[submodule "Utils/Matrix"]
	path = Utils/Matrix
	url = https://github.com/Fragoler/matrix-lib.git
[submodule "game-front"]
	path = GameFront
	url = https://github.com/Fragoler/simple-tactics-client.git
